.card-cart-img-div {
  width: 200px;
}
.cart-card {
  width: 200px;
}
.no-item-text {
  width: 100%;
  margin: 10rem auto;
  text-align: center;
}
.no-item-div {
  width: 100%;
}
.cart-container {
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.cart-banner {
  display: flex;
  /* margin: 20px 0; */
  justify-content: end;
  align-items: baseline;
  gap: 20rem;
  /*width: 90vw; */
}
.btn-cart-banner {
  /* width: 20%; */
  margin: 0 10px;
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 600;
}
.btn-cart-banner:hover {
  background-color: gray;
  color: white;
}
.grid-cart {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(4, 250px);
  grid-auto-rows: 250px;
  gap: 5rem;
  place-items: center;
}
.card-container img {
  height: 100%;
}
.cart-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cart-container .btn {
  width: 100%;
  /* margin-left: 25px; */
  border-radius: 7px;
  border: none;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.4);
}

/* checkout form */
.checkout-container {
  display: grid;
  width: 70%;
  place-items: center;
  margin: 20px auto;
  border: 2px solid red;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
  padding: 20px;
}
.checkout-container label {
  font-weight: 700;
}
.checkout-container input {
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.checkout-fields {
  width: 50%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.products-div {
  display: grid;
  background-color: black;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 10px;
  position: relative;
  /* grid-template-rows: 150px; */
}
.product-img-div {
  width: 200px;
  position: relative;
}
